modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
YOUTUBE_API_KEY = "AIzaSyAJwGWTd-xoRRZLaA-fL9naZJ7d7Ufqebg"
OWNER_TELEGRAM_ID = "8245258112"
APP_URL = "https://c6eb4647-66ac-4791-b3f7-b4b7630b65f9-00-3fssj41o7plbn.sisko.replit.dev"
OWNER_PASSWORD = "9006730353"

[nix]
channel = "stable-25_05"
